.main-layout {
  max-width: 1760px;
  padding-left: 80px;
  padding-right: 80px;
  margin: auto;

  @include for-large-layout {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include for-narrow-layout {
    padding-left: 24px;
    padding-right: 24px;
  }

  // @include for-mobile-layout {
  //   padding-left: 25px;
  //   padding-right: 25px;
  // }
}

.main-layout-margin {
  max-width: 1760px;
  margin-left: 80px;
  margin-right: 80px;

  @include for-large-layout {
    margin-left: 40px;
    margin-right: 40px;
  }

  @include for-slim-layout {
    margin-left: 25px;
    margin-right: 25px;
  }
}

.right-unit-main-layout-margin {
  // ! if this class is given => add max width of 1760px to the parent element
  margin-right: 80px;

  @include for-large-layout {
    margin-right: 40px;
  }

  @include for-slim-layout {
    margin-right: 25px;
  }

  // @include for-mobile-layout {
  //   padding-left: 25px;
  //   padding-right: 25px;
  // }
}

.left-unit-main-layout {
  // ! if this class is given => add max width of 1760px to the parent element
  padding-left: 80px;

  @include for-large-layout {
    padding-left: 40px;
  }

  @include for-slim-layout {
    padding-left: 25px;
  }

  // @include for-mobile-layout {
  //   padding-left: 25px;
  //   padding-right: 25px;
  // }
}

.left-unit-main-layout-margin {
  // ! if this class is given => add max width of 1760px to the parent element
  margin-left: 80px;

  @include for-large-layout {
    margin-left: 40px;
  }

  @include for-slim-layout {
    margin-left: 25px;
  }

  // @include for-mobile-layout {
  //   padding-left: 25px;
  //   padding-right: 25px;
  // }
}

// .main-text {
//   margin-bottom: rem(90px);
// }


.details-layout {
  max-width: 1760px;
  padding-left: 315px;
  padding-right: 315px;
  margin: auto;

  position: static !important;

  @include for-wide-layout {
      // max-width: none;
      padding-left: 100px;
      padding-right: 100px;
  }

  @include for-large-layout {
    padding-left: 40px;
    padding-right: 40px;
  }

  @mixin for-normal-layout {
      padding-left: 10px;
      padding-right: 10px;
  }

  @include for-narrow-layout {
    padding-left: 14px;
    padding-right: 14px;
  }


}