.filter-box {
  position: sticky;
  top: 70px;
  z-index: 6;
  // margin-top: 8px;
  padding-top: 10px;
  // height:155px;
  // padding-bottom: 7px;
  margin-bottom: 18px;
  margin-top: 10px;
  background-color: white;

  &.explore-page {
    margin-top: 0;
  }
  // border-bottom: 1px solid black;
  // padding-right: 80px;

  .filter-container {
    // margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    overflow-x: auto;
    max-width: 1750px;
    height: 75px;
    &::-webkit-scrollbar {
      display: none;
    }
    .stays-amount {
      font-family: Circular-bold;
      // margin-top: 25px;
    }

    .btn-label {
      z-index: 1;
      color: $clr2;

      &:hover {
        box-shadow: inset 0 -1.7px 0.5px -0.5px rgb(118 114 114 / 48%);
      }
    }

    .labels {
      button {
        padding-left: 0;
        padding-bottom: 0;
      }
    }

    .label-txt {
      margin-top: 8px;
      white-space: nowrap;
    }

    .label-image {
      margin-top: 12px;
      max-width: 24px;
      filter: contrast(calc(13 / 44));
    }

    .image-and-txt {
      height: 73px;
      // margin-top: 1.5rem;
      margin-inline-end: 2.3rem;
      align-items: center;
      padding-top: 0px;
      position: relative;
      // margin: auto;
      left: 0;
      &:hover {
        color: #000;
        filter: contrast(1000%);
      }
    }
    // pool
    .clean-button:nth-of-type(3) .image-and-txt {
      // margin-inline-end: 2.35rem;
      // min-width: 84px;
      // background-color: blue;
    }
    // omg
    .clean-button:nth-of-type(4) .image-and-txt {
      // margin-inline-end: 2.35rem;
      // min-width: 0px;
      // background-color: blue;
    }
    //   parks
    .clean-button:nth-of-type(5) .image-and-txt {
      // margin-inline-end: 2.35rem;
      // min-width: 81px;
    }
    // parks
    .clean-button:nth-of-type(6) .image-and-txt {
      // margin-inline-end: 2.18rem;
      // min-width: 81px;
    }
    // cabins
    .clean-button:nth-of-type(7) .image-and-txt {
      // margin-inline-end: 2.69rem;
    }
    // camping
    .clean-button:nth-of-type(9) .image-and-txt {
      // margin-inline-end: 1.71rem;
    }
    // views
    .clean-button:nth-of-type(10) .image-and-txt {
      // margin-inline-end: 2.16rem;
      // min-width: 85px;
    }
    // desert
    .clean-button:nth-of-type(11) .image-and-txt {
      // margin-inline-end: 2.8rem;
    }
    //   arctic
    .clean-button:nth-of-type(12) .image-and-txt {
      // margin-inline-end: 2.26rem;
      // min-width: 65px;
    }
    //   tiny homes
    .clean-button:nth-of-type(13) .image-and-txt {
      // margin-inline-end: 1.61rem;
      // min-width: 65px;
    }
    //   lakefront
    .clean-button:nth-of-type(12) .image-and-txt {
      // margin-inline-end: 1.67rem;
      // min-width: 66px;
    }

    .filter-form-layout {
      padding: 0 24px;
      // width: ;
    }

    //   .el-checkbox-group {
    // // display: flex;
    // :first-child {
    //     display: block;
    // }
    //   }

    .el-dialog__body {
      width: 100%;
    }

    .el-form-item {
      padding: 32px;
    }

    .el-dialog__headerbtn {
      left: 0;
    }

    .el-icon svg {
      color: rgb(34, 34, 34);
    }

    @include for-narrow-layout {
      // box-shadow: 0 2px 4px -4px rgb(0 0 0 / 16%);
      // box-shadow: 0 0 6px;
    }
  }

  .btn-filter-stays-container {
    .btn-filter {
      border-radius: 0.75rem;
      background-color: white;
      border: 1px solid #dddddd;
      padding: 16px 16px 16px 16px;
      font-family: Circular-bold;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      right: 0;
      .btn-filter-txt {
        font-size: 12px;
      }

      .filter-img {
        margin-inline-end: 7px;
      }
    }
  }

  .btn-scroll {
    align-self: center;
    display: inline-flex;
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.2s ease;
    border-radius: 50%;
    margin: -7px;
    padding: 7px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    background-clip: padding-box;
    background-color: white;
    border: 0.5px solid rgb(0 0 0 / 0.3);
    z-index: 5;
  }
  .left-scroll-container {
    position: absolute;
    background-color: white;
    left: 0;
    top: 23px;
    z-index: 10;
    width: 35px;
    padding-top: 10px;
    height: 50px;
    box-shadow: 15px 0 7px rgba(255, 255, 255, 0.949);
    .left-scroll {
      // position: absolute;
      // bottom: 105px;

      // left: 155px;
      // top: 115px;
      // display: none;
      // margin-left: px;
    }

    @include for-narrow-layout {
      display: none;
    }
  }
  .right-scroll {
    position: absolute;
    top: 12px;
    right: 115px;

    // background-color: blue;
    // height: 10px;
  }

  .btn-filter-container {
    position: absolute;
    align-self: center;
    right: 0px;
    top: 21px;
    z-index: 15;
    // background-color: rgba(255, 255, 255, 0.998);
    // background-color: blue;
    background-color: white;
    box-shadow: -15px 0 7px rgba(255, 255, 255, 0.949);
    padding-left: 59px;
    padding-top: 3px;
    // padding-right: 5px;
    height: 62px;

    .btn-filter-top {
      top: -15px;
    }
    .btn-filter {
      border-radius: 0.75rem;
      background-color: white;
      border: 1px solid #dddddd;
      padding: 15px 15px 15px 18px;
      //   position: absolute;
      font-family: Circular-bold;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      //   right: 0;
      .btn-filter-txt {
        font-size: 12px;
      }

      .filter-img {
        margin-inline-end: 7px;
      }
    }

    @include for-narrow-layout {
      display: none;
    }
  }

  // .btn-filter-container.stays-btn {
  // position: absolute;
  // align-self: center;
  // right: 0px;
  // top: 9px;
  // z-index: 9;
  // background-color: rgba(255, 255, 255, 0.998);
  // box-shadow: -15px 0 10px rgb(255, 255, 255);
  // background-color: white;
  // // width: 170px;
  // height: 64px;
  // margin-top: 25px;
  // // margin-right: 80px;
  .btn-filter-top {
    top: -15px;
  }

  @include for-narrow-layout {
    margin: 0;
    padding: 0 0 0 24px;
    top: 71px;
    box-shadow: rgb(0 0 0 / 16%) 0 0 6px;
    margin-top: -20px;
  }
}
// }
.clicked-btn {
  color: #000;
  filter: contrast(1000%);
  box-shadow: inset 0 -2px 0.5px -0.5px rgb(0, 0, 0);
}
.filter {
  .filter-container {
    position: sticky;
    top: calc(79px);
    width: 100%;
    z-index: 9;
    background-color: white;
    .el-form-item {
      padding: 12px 0 0 12px !important;
    }
    .filter-form-layout {
      padding: 0 !important;
    }
  }

  .el-dialog--center {
    border-radius: 15px !important;
    height: 80% !important;
    width: 750px !important;
    overflow-y: scroll !important;
    position: relative;
  }

  .el-dialog__header {
    position: fixed;
    max-width: 730px;
    background: white;
    border-bottom: 1px solid rgb(235, 235, 235) !important;
    border-start-start-radius: 15px !important;
    z-index: 10;
  }

  .el-checkbox-group {
    // box-shadow: inset 0 .2px 0 0 #ddd;
    .type-place {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 50px;
      grid-row-gap: 50px;
      width: 100%;
    }
  }

  .filter-container {
    position: sticky;
    top: calc(60px);
    width: 100%;
    z-index: 15;
    background-color: white;
    .el-form-item {
      padding: 12px 0 0 12px !important;
    }
    .filter-form-layout {
      padding: 0 !important;
    }
  }

  .el-checkbox {
    white-space: normal !important;
  }

  .el-checkbox__label {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    font-size: 16px !important;
  }

  .el-checkbox__inner {
    width: 24px !important;
    height: 24px !important;
    border-radius: 4px !important;

    &:hover {
      border-color: black !important;
    }

    &::after {
      width: 6px !important;
      height: 12px !important;
      left: 8px !important;
      border: 2px solid white !important;
      border-left: 0 !important;
      border-top: 0 !important;
    }
  }

  .el-form-item__content {
    h1 {
      margin-bottom: 20px;
    }

    .el-checkbox__label {
      span {
        color: $clr2 !important;
        font-size: 14px !important;
      }
    }
  }

  .el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: black !important;
    border-color: transparent !important;
  }

  .el-checkbox__input.is-checked + .el-checkbox__label {
    color: $clr1 !important;
  }

  .price-range {
    margin-top: 30px;
  }

  .beds-type {
    .el-checkbox-button__inner {
      border-radius: 30px !important ;
      width: 50px !important;
      height: 35px !important;
      margin-inline-end: 10px !important;
      border: 1px solid lightgray;
      &:hover {
        color: black !important;
        border-color: black !important;
      }
    }
  }

  .el-form-item {
    flex-direction: column !important;
  }
  .el-form-item__label {
    justify-content: flex-start !important;
  }

  .el-checkbox-button.is-checked .el-checkbox-button__inner {
    background-color: black !important;
    color: white !important;
    border-color: black !important ;
    &:hover {
      color: white !important;
    }
  }

  .el-form-item__label {
    font-family: Circular-bold;
    color: #000 !important;
    margin-bottom: 10px !important;
  }

  .house-type-container {
    .el-form-item__content {
      display: block !important;
    }
    .el-checkbox-group {
      display: grid !important;
      grid-template-columns: repeat(4, 1fr) !important;
      grid-template-rows: repeat(1, auto) !important;
      gap: 16px !important;
    }

    .el-checkbox-button__inner {
      height: 100px !important;
      width: 100% !important;
      padding: 16px !important;
      display: flex !important;
      border-radius: 16px !important;
      flex-direction: column !important;
      justify-content: space-between !important;
      border: 1px solid lightgray;
      &:hover {
        border-color: #000 !important;
      }
    }
    .el-checkbox-button.is-checked .el-checkbox-button__inner {
      background-color: #f7f7f7 !important;
      border: 2px solid black !important;
    }
    img {
      width: 32px;
    }
    .txt {
      font-family: Circular-bold;
      color: #000;
      text-align: left;
    }
  }

  .el-dialog--center .el-dialog__footer {
    text-align: inherit;
    position: fixed !important;
    bottom: 50px !important;
    z-index: 10 !important;
    background-color: white !important;
    max-width: 730px !important;
    width: 100% !important;
    border-top: 1px solid rgb(235, 235, 235) !important;
    border-end-start-radius: 15px !important;
  }

  .el-button--primary {
    background-color: black !important;
    padding: 14px 24px !important;
    border: none !important;
    border-radius: 8px !important;
    text-decoration: none !important;
  }

  .el-button {
    border: none !important;
    text-decoration: underline;
  }

  .el-slider__bar {
    background-color: #000 !important ;
  }

  .el-slider__button {
    border-color: $clr2 !important;
  }

  .filter-input-price {
    margin: auto;
  }

  .super-host-container {
    .el-form-item__content {
      justify-content: space-between !important;
      margin-bottom: 20px;
    }
    .el-switch.is-checked .el-switch__core {
      background-color: #000 !important;
      border-color: black !important;
    }
  }
}

.explore-page {
  // padding-top: 10px;
  position: sticky;
  top: 81px;
  // padding-top: 20px;
  z-index: 10;
}

@include for-narrow-layout {
  .filter-container.explore-page {
    padding: 0;
    .filter-box.explore-page {
      .filter-container {
        .btn-filter-stays-container {
          display: none;
        }
      }
    }
  }
}
