@font-face {
  font-family: cereal;
  src: url(../fonts/Airbnb_Cereal-Book.ttf);
}

@font-face {
  font-family: Circular;
  src: url(../fonts/Airbnb_Cereal-Medium.ttf);
}

@font-face {
  font-family: Circular-bold;
  src: url(../fonts/Airbnb_Cereal-Bold.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&display=swap');
